:root {
  --background: #1E1E1E;
  --text: #e3e3e3;

  --btn-gradient-1: #8360C3;
  --btn-gradient-2: #2EBF91;
  --btn-border: #C9FFEE;
  --btn-shadow: rgba(87, 87, 87, 0.27);
  --btn-text: #fff;
  --btn-hover-shadow: 0 0 0 transparent;
  --btn-hover-border: #ffc9c9;
  --btn-disabled-border: #777;
  --btn-disabled-text: #b8b8b8;
  --btn-stat-text: #b8b8b8;
  --btn-disabled-background: #8d8d8d;
  --btn-comingsoon-text: #4a4a4a;

  --select-all-active: #2EBF91;
  --select-all-inactive-checkbox-border: #e3e3e3;

  --person-option-btn-inactive-background: transparent;
  --person-option-btn-inactive-text: #fff;
  --person-option-btn-active-text: #fff;

  --person-quiz-stat-suffix-text: #8D8D8D;
  --person-quiz-background: #323232;
  --person-quiz-input-background: transparent;
  --person-quiz-input-text: #e3e3e3;
  --person-quiz-correct: #2EBF91;
  --person-quiz-wrong: #FF2674;

  --ctd-gradient-1: rgb(138, 35, 135);
  --ctd-gradient-2: rgb(233, 64, 87);
  --ctd-gradient-3: rgb(242, 113, 33);
  --ctd-border: #e3e3e3;

  --person-submenu-dropdown-background: rgba(45, 45, 45, 0.8);

  --footer-background: #2E2E2E;
  --footer-text: #e3e3e3;
}